<main>
    <h1>Welcome to SoftUni Wiki!</h1>
    <section id="featured">
        <h2>Latest article</h2>
        {{#if latestArticle}}
        <article>
            <h3>{{latestArticle.title}}</h3>
            <p>
                {{latestArticle.content}}
            </p>
            <div class="controls">
                <a href="/article/details/{{latestArticle.id}}">Read more</a>
            </div>
        </article>
        {{else}}
        <p>No Latest article.</p>
        {{/if}}
    </section>
    <section id="recent">
        <h2>Last three articles</h2>
        {{#if lastThreeArticles}}
        <ul>

            {{#each lastThreeArticles}}
            <li>
                <a href="/article/details/{{id}}">{{title}}</a>
            </li>
            {{/each}}

        </ul>
        {{else}}
        <p>No three articles added.</p>
        {{/if}}
    </section>
</main>